<!DOCTYPE html>
<html lang="en">
 
<head>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Search Bar Example</title>

</head>
 
<body>
    <div class="container">
        <div>
            <input name="query" type="text"/>
            <button id ="submit" hx-get="/joke-search" hx-target="#search-results" hx-include="[name='query']">Search</button>
            <div id ="search-results"></div>
        </div>

    </div>

</body>
 
</html>